[Unit]
Description=NAS in use (sleep inhibit)
Documentation=man:systemd-inhibit(1)

[Service]
Type=simple
ExecStart=/usr/bin/systemd-inhibit \
    --what=sleep \
    --mode=block \
    --why=NAS active from Audacious \
    /usr/bin/sleep infinity

RuntimeMaxSec=3600
KillMode=control-group

[Install]
WantedBy=multi-user.target

