*~
*.swp
*.bak
.DS_Store
*/.emacs.d/eln-cache/
*/.emacs.d/elpa/
*/.emacs.d/auto-save-list/
*/.emacs.d/url/
*/.emacs.d/bookmarks
*/.emacs.d/places
*/.emacs.d/recentf
*/.emacs.d/sessions/
*/.emacs.d/gnupg/
*/.config/waybar/*.bak
*/.config/waybar/*~
*/.config/sway/*~
*/.config/mako/*.pid
*/.local/share/icons/hicolor/
*/.local/share/fonts/**/.uuid
*/.local/bin/test*
*/.local/bin/tmp*
