[Unit]
Description=Apply powertop tunings
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/powertop --auto-tune
ExecStartPost=/usr/local/sbin/usb-nosuspend.sh

[Install]
WantedBy=multi-user.target
